
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/button.css">
<meta property="og:title" content="Diabetes Healthcare is India's No.1 Repository for Diabetes related FAQs. Chat with the AI expert and clear your doubts about Diabetes." />
<meta property="og:description" content="Diabetes Healthcare: Chat with Live AI expert to get your doubts cleared about Diabetes. Check out the most comprehensive information about Diabetes in the internet for free." />
<meta property="og:image" content="/thumbnail.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://diabetes-healthcare.in" />
<meta property="twitter:title" content="Diabetes Healthcare is India's No.1 Repository for Diabetes related FAQs. Chat with the AI expert and clear your doubts about Diabetes." />
<meta property="twitter:description" content="Diabetes Healthcare: Chat with Live AI expert to get your doubts cleared about Diabetes. Check out the most comprehensive information about Diabetes in the internet for free." />
<meta property="twitter:image" content="/thumbnail.png" /> 
<meta name="robots" content="index, follow" />
<meta name="author" content="Diabetic Healthcare" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

  </head>
  <body class="container">
    <article>
 <strong> Diabetes Healthcare </strong> </article>

 <nav aria-label="breadcrumb">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://app.diabetes-healthcare.in">Chat with Expert</a></li>
      </ul>
    </nav>

    <h1>
       {{ title }}
    </h1>
{{ content }}
  </body>

</html>